agno
openai
python-dotenv
yfinance
pandas
requests
beautifulsoup4
gTTS
pyautogui
pyperclip
streamlit
langchain
langchain-community
langchain-openai
langchain-huggingface
sqlalchemy
pypdf
faiss-cpu
sentence-transformers