agno
openai
python-dotenv
yfinance
pandas
requests
beautifulsoup4
gTTS
pyautogui
pyperclip
streamlit
langchain
langchain-community
langchain-openai
langchain-huggingface
langchain-nvidia-ai-endpoints
sqlalchemy
pypdf
tickers
faiss-cpu
sentence-transformers